.DraftEditor-root {
  /*background: #fff;*/
  /*border: 1px solid #ddd;*/
  font-family: 'Cousine', monospace;
  font-size: 1.15em;
  padding: 15px;
  margin: 0;
}

.DraftEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.DraftEditor-editor .public-DraftEditorPlaceholder-root,
.DraftEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.DraftEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.DraftEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.DraftEditor-editor .DraftEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.DraftEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.DraftEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.DraftEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.DraftEditor-activeButton {
  color: #5890ff;
}

/* CUSTOM BLOCK STYLES */

div.RichEditor-act {
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 24px;
  display: inline !important;
  font-size: 1.25em !important;
}

div.RichEditor-scene {
  text-decoration: underline;
  margin-top: 5px;
  font-size: 1.25em !important;
}

div.RichEditor-character  {
  text-align: center;
  text-transform: uppercase;
  margin-top: 12px;
}

div.RichEditor-dialogue {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 6px;
}

div.RichEditor-action {
  margin-top: 16px;
}

/* CUSTOM EDITOR ELEMENT CSS */

div.display-type {
  color: #808080;
  height: 20px;
  padding: 15px;
  text-align: center;
  position: absolute;
  left: 5%;
  z-index: 3;
}

.editor {
        min-height: 80;
        padding: 10;
        border: '1px solid #ccc';
      }

.typeahead {
        margin: 0;
        padding: 0;
        border: '1px solid #ccc';
        background: 'white';
        box-shadow: '0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35)';
        border-radius: 3;
        list-style-type: 'none';
      };
.person {
        margin: 0;
        padding: '16px 24px';
      };
.selectedPerson {
        margin: 0;
        padding: '16px 24px';
        background: 'DarkOrchid';
        color: 'white';
      };
.mention {
        background: 'DarkOrchid';
        color: 'white';
      }
