

.centered {
  text-align: center;
}

body {
  background-color: transparent !important;
}

div.scroll {
  height: 52vh;
  overflow-y: auto;
}

div.scroll2 {
  height: 60vh;
  overflow-y: auto;
}

div#navbar.ui {
  border-radius: 0;
}

div.segment.no-bottom-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.segment.no-top-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.segment.no-margin.no-margin2.no-bottom-radius.no-top-radius.text-center {
  text-align: center;
}

span.h3 {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 2em;
    margin: 2em 0em 1em;
    /*vertical-align: middle;*/
    font-weight: bold;
    padding: 0em;
}

a.width.width2.width3 {
  width: 80%;
}

div.ui.teal.segment {
  margin: 0em 0em 0em 0em;
}

div.ui.segment.no-top-margin {
  margin: 0em 0em 1em 0em;
}

div.ui.segment.no-margin.no-margin2 {
  margin: 0em !important;
}

/*#navbar {
  background: linear-gradient(to right, #24c6dc, #514a9d);
  opacity: .7;
}*/

#updated-button {
  font-family: 'Cousine', monospace !important;
}

#navbar {
  background: linear-gradient(270deg, #06beb6, #18a2f0, #db5640);
  background-size: 600% 600%;
  opacity: .6;
  top: -10vh;
  left: -10vw;
  z-Index: -1;
  -webkit-animation: GradientNavbar 30s ease infinite;
  -moz-animation: GradientNavbar 30s ease infinite;
  animation: GradientNavbar 30s ease infinite;
}

#mask {
  background: linear-gradient(270deg, #06beb6, #18a2f0, #db5640);
  background-size: 600% 600%;
  opacity: .6;
  width: 120vw;
  height: 120vh;
  position: fixed;
  top: -10vh;
  left: -10vw;
  z-Index: -1;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}

#mask-small {
  background: linear-gradient(270deg, #06beb6, #18a2f0, #db5640);
  background-size: 600% 600%;
  opacity: .6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -10vh;
  left: -10vw;
  z-Index: -1;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
 }
 @-moz-keyframes Gradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
 }
 @keyframes Gradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
 }

 @-webkit-keyframes GradientNavbar {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientNavbar {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientNavbar {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.cousine {
  font-family: 'Cousine', monospace !important;
}

.cover-text {
  color: white;
  font-family: 'Cousine', monospace;
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*.ui.button {
  font-family: 'Cousine', monospace !important;
}*/


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
